@import "colors";

body {
  button {
    &.btn {
      background: $purple;
      border: 1px solid transparent;
      transition: $transition;
      &:hover {
        background: $purple;
        border: 1px solid transparent;
        -webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }
}
